@mixin effect {
  background-color: $color-secondary;

  & > svg path {
    stroke: $color-blue;
  }
}

.tool {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;

  background-color: transparent;
  border: none;

  transition: $transition-duration;
  writing-mode: horizontal-tb;
  aspect-ratio: 1;
  border-radius: 4px;

  & svg {
    height: 20px;
  }

  &:enabled {
    cursor: pointer;
  }

  @include touch {
    &:hover:enabled {
      @include effect;

      & > :first-child:not(svg) {
        background-color: $color-blue;
      }
    }
  }

  &_active {
    @include effect;

    & > :first-child:not(svg) {
      background-color: $color-blue;
    }
  }
}
