$transition-duration: 400ms;

$border-radius-4: 4px;
$border-radius-round: 50%;

$color-primary: #2d3748;
$color-secondary: #cce1f9;
$color-blue: #4169e1;
$color-secondary-op-80: rgba(204, 225, 249, 0.8);

$spacing-4: 4px;
$spacing-20: 20px;
